RewriteEngine On

# Menghilangkan index.html dari URL secara otomatis
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^/]+/)*index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# Mengizinkan akses halaman tanpa mengetik .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]